.main-image{
  width: 100%;
  filter: brightness(50%);
  /* width: 55%; */
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  width: 67%;
  font-family: serif;
}
