<div class="container">


      <div class="card text-center card-container shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Software Development</h5>
          <p class="card-text">We provide complete development and maintenance of software applications.</p>
          <div class="btn-center">
            <a href="#" class="btn btn-success">Learn more</a>
        </div>
        </div>
      </div>

      <div class="card text-center card-container shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">Development for web applications using the latest tools at our disposal, for Front/Back-end.</p>
          <div class="btn-center">
            <a href="#" class="btn btn-success">Learn more</a>
        </div>
        </div>
      </div>

      <div class="card text-center shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Quality Assurance</h5>
          <p class="card-text">Our applications are fully tested and cater all scenarios to ensure quality.</p>
          <div class="btn-center">
            <a href="#" class="btn btn-success">Learn more</a>
        </div>
        </div>
      </div>
</div>
