<div class="container">


  <div class="card text-center card-container shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Gotriage</h5>
      <p class="card-text">
        Gotriage.com is an online platform that breaks down the barrier between doctors and patients.</p>
        <div class="btn-center">
      <a href="https://gotriage.com/home" class="btn btn-success" >Visit site</a>
    </div>
    </div>
  </div>

  <div class="card text-center card-container shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Salis</h5>
      <p class="card-text">A website for booking products(vehicles).</p>
      <div class="btn-center">
      <a href="https://salis.ae/products" class="btn btn-success" >Visit site</a>
    </div>
    </div>
  </div>

  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Fitnessvwork</h5>
      <p class="card-text">A fitness guide website to keep a check on your health and stay fit.</p>
      <div class="btn-center">
      <a href="http://fitnessvwork.com/" class="btn btn-success">Visit site</a>
    </div>
    </div>
  </div>
</div>
